body {
    margin: 0px;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-color: rgba(0,0,0,0.5);
}

#instructions {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}